.icon-button{
    width: 40px;
    line-height: 10px;
    height: 30px;
}

.cardTask{
    color: rgba(82,82,85);
    margin-top: 10px;
    background: rgb(24,102,244);
    background: radial-gradient(circle, rgba(24,102,244,1) 0%, rgba(16,101,156,1) 59%, rgba(41,97,142,1) 100%);
}

.checkedTask{
    background: rgba(37, 53, 139, 0.4);
}

.checkbox-btn{
    margin: 0 auto;
}

.task-link{
    color: #47a6cc;
    transition: all .3s ease-in-out;
}

.task-link:hover{
    text-decoration: none;
    color: #5dc6f0;
}

.task-text{
    color: white;
}