.link{
    font-size: 24px;
    margin-left: 4rem;
}

.navbarLinks{
    color: rgb(31, 180, 250);
    transition: all .2s ease-in-out;
}

.navbarLinks:hover{
    color: rgb(121, 207, 246);
    text-decoration: none;
}